body {
    background-color: #509601 !important;
    font-size: 42px;
    text-decoration: none;
    font-weight: 300;
    font-family: Segoe UI Light, "Opens Sans", sans-serif;
    color: #fff;
}

button {
    background: rgb(255, 128, 0);
    border: none;
    font-size: 42px;
    text-decoration: none;
    font-weight: 300;
    font-family: Segoe UI Light, "Opens Sans", sans-serif;
    color: #fff;
}
.active{
    color: #000;

}
.error{
    color: red;;
}